.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  background: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.wrapper {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.item {
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.pullup-tips {
  padding: 20px;
  text-align: center;
  color: #999;
}
