.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* react-transition-group transition */

/* fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* slide-from-right */
.slide-from-right-enter {
  opacity: 0;
  transform: translateX(20px);
}
.slide-from-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}

.slide-from-right-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-from-right-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 200ms, transform 200ms;
}
