@import '~antd/dist/antd.css';

html,
body,
#root,
.App {
  height: 100%;
}

#cesiumContainer {
  position: relative;
}

.marker {
  position: fixed;
  left: 999px;
  top: 999px;
  width: 100px;
  height: 100px;
  background: red;
}
